[submodule "Actively-reducing-redundancies-in-Active-Learning-for-Sequence-Tagging"]
	path = Actively-reducing-redundancies-in-Active-Learning-for-Sequence-Tagging
	url = https://github.com/RishiHazra/Actively-reducing-redundancies-in-Active-Learning-for-Sequence-Tagging
